html {
    scroll-behavior: smooth;
    
}
:root{ /* Legger inn variabler for farge stilen (!)*/
    --oslometPrimary: #ffcd1a; /* Primary colour*/
    --oslometSecondary: #4a4a4a;
    --oslometPrimaryFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    padding: 0; /* Uten disse to så vil det være lite mellomrom på siden og skjermen*/
    margin: 0;
}

.main-header img {
    width: 25vw;
}

@media (min-width: 1px){
    /* Index.html grid PC */
    .grid-container{
        display: grid;
        grid-template-columns: 30vw auto minmax(300px, 30vw) 40px;
        grid-auto-rows: minmax(100px, auto);
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        background-color: var(--oslometPrimary);
    }
    .main-box{
        grid-column: 1/3;
        border: 1px solid red;
        grid-row: 1;
        color: red;
    }
    .secondary-box{
        grid-column: 1/3;
        grid-row: 2;
        border: 1px solid red;
    }
    .aside-box{
        grid-column: 3/4;
        grid-row: 1;
        border: 1px solid red;
    }
    .header-left{
        grid-column: 1/1;
        grid-row: 1;
        width: 100%;
        background-color: var(--oslometPrimary);
    }
    .grid-container h1{
        font-family: var(--oslometPrimaryFont);
        margin-left: 5vw;
    }

    /* Navigasjons bar PC */
    .nav-bar{
        grid-column: 2/3;
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
    }
    .nav-bar ul{
        display: flex;
        flex-direction: row;
    }
    .nav-bar  li{
        margin: auto;
        margin-left: 5vw;
    }
    .nav-bar  ul li{
        list-style: none;
    }
    .nav-bar  a{ /* Selve navbar teksten. */
        font-size: 20px;
        font-weight: bold;
        font-family:var(--oslometPrimaryFont);
        text-decoration: none;
        color: #000;
        transition: 0.2s;
    }
    .nav-bar  a:hover{ /* Efekten som kommer når du legger musa over teksten.*/
        color: var(--oslometSecondary);
        transition: 0.2s;
    }

}




/* NEDENFOR GJELDER FOR SKJERMER UNDER 768PX*/


@media (min-width: 100000px){
    /* Index.html grid MOBIL */
    .grid-container{
        display: grid;
        grid-template-columns: 30vw auto minmax(300px, 30vw) 40px;
        grid-auto-rows: minmax(100px, auto);
        background-color: var(--oslometPrimary);
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    }
    .main-box{
        grid-column: 1/3;
        border: 1px solid red;
        grid-row: 1;
        color: red;
    }
    .secondary-box{
        grid-column: 1/3;
        grid-row: 2;
        border: 1px solid red;
    }
    .aside-box{
        grid-column: 3/4;
        grid-row: 1;
        border: 1px solid red;
    }

    /* Navigasjons bar MOBIL */
    .nav-bar{
        width: 100vw;
        height: 80px;
        display: flex;
        flex-direction: row;
    }
    .nav-bar ul{
        display: flex;
        flex-direction: row;
    }
    .nav-bar  li{
        margin: auto;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .nav-bar  ul li{
        list-style: none;
    }
    .nav-bar  a{ /* Selve navbar teksten. */
        font-size: 20px;
        font-weight: bold;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        color: #000;
        transition: 0.2s;
    }
    .nav-bar  a:hover{ /* Efekten som kommer når du legger musa over teksten.*/
        color: var(--oslometSecondary);
        transition: 0.2s;
    }

}
