html {
    scroll-behavior: smooth;
    width: 100vw;
    
}
:root{ /* Legger inn variabler for farge stilen (!)*/
    --oslometPrimary: #fda8a8; /* Primary colour*/
    --oslometSecondary: #ff4545;
    --oslometPrimaryFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    padding: 0; /* Uten disse to så vil det være lite mellomrom på siden og skjermen*/
    margin: 0;
    width: 100vw;
}
main{

}
@media (min-width: 765px){
    /* Index.html grid PC */
    .main-header{
        display: flex;
        flex-direction: row;
        background-color: var(--oslometPrimary);
        height: 6em;
    }
    .grid-container{
        padding-left: 3vw;
        display: grid;
        grid-template-columns: 30vw auto minmax(300px, 30vw) 40px;
        grid-auto-rows: minmax(100px, auto);
        border: 1px solid red;
        background-color: var(--oslometPrimary);
    }
    .main-box{
        grid-column: 1/3;
        border: 1px solid red;
        grid-row: 1;
        color: red;
    }
    .secondary-box{
        grid-column: 1/3;
        grid-row: 2;
        border: 1px solid red;
    }
    .aside-box{
        grid-column: 3/4;
        grid-row: 1;
        border: 1px solid red;
    }
    .header-left{ /* Logoen er her */
        width: 10%;
        margin-top: 1.25vw;
        margin-left: 5vw;
    }
    .header-left img{
        width: 6em;
    }
    .grid-container h1{
        font-family: var(--oslometPrimaryFont);
        margin-left: 5vw;
    }

    /* Navigasjons bar PC */
    /* Må omprogrammeres for å få bedre flyt med forskjellige størrelser */
    .nav-bar{
        grid-column: 2/3;
        width: 100%;
        display: flex;
        margin-left: 35vw;
        flex-direction: row;
    }
    .nav-bar ul{
        display: flex;
        flex-direction: row;
    }
    .nav-bar  li{
        margin: auto;
        margin-left: 5vw;
    }
    .nav-bar  ul li{
        list-style: none;
    }
    .nav-bar  a{ /* Selve navbar teksten. */
        font-size: 1.25em;
        font-weight: bold;
        font-family:var(--oslometPrimaryFont);
        text-decoration: none;
        color: #000;
        transition: 0.2s;
    }
    .nav-bar  a:hover{ /* Efekten som kommer når du legger musa over teksten.*/
        color: var(--oslometSecondary);
        transition: 0.2s;
    }

}




/* NEDENFOR GJELDER FOR SKJERMER UNDER 768PX*/


@media (max-width: 765px){
    /* Index.html grid MOBIL */
    /* Denne funker for mobiler og tableter som er minst 425px. Ellers
    så mistes det funksjonalitet fra siden.
    Kunne implementert en burgermeny for telefoner, men
    det krever javascript og det vil vi helst unngå å bruke
    da det ikke er et krav i oppgaven.
    */
    .main-header{
        display: flex;
        flex-direction: row;
        background-color: var(--oslometPrimary);
        height: 6em;
    }
    .grid-container{
        padding-left: 3vw;
        display: grid;
        grid-template-columns: 30vw auto minmax(300px, 30vw) 40px;
        grid-auto-rows: minmax(100px, auto);
        border: 1px solid red;
        background-color: var(--oslometPrimary);
    }
    .main-box{
        grid-column: 1/3;
        border: 1px solid red;
        grid-row: 1;
        color: red;
    }
    .secondary-box{
        grid-column: 1/3;
        grid-row: 2;
        border: 1px solid red;
    }
    .aside-box{
        grid-column: 3/4;
        grid-row: 1;
        border: 1px solid red;
    }
    .header-left{ /* Logoen er her */
        width: 10%;
        margin-top: 1.25vw;
        margin-left: 5vw;
    }
    .header-left img{
        width: 6em;
    }
    .grid-container h1{
        font-family: var(--oslometPrimaryFont);
        margin-left: 5vw;
    }

    /* Navigasjons bar PC */
    .nav-bar{
        grid-column: 2/3;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .nav-bar ul{
        display: flex;
        flex-direction: row;
    }
    .nav-bar  li{
        margin: auto;
        margin-left: 5vw;
    }
    .nav-bar  ul li{
        list-style: none;
    }
    .nav-bar  a{ /* Selve navbar teksten. */
        font-size: 1em;
        font-weight: bold;
        font-family:var(--oslometPrimaryFont);
        text-decoration: none;
        color: #000;
        transition: 0.2s;
    }
    .nav-bar  a:hover{ /* Efekten som kommer når du legger musa over teksten.*/
        color: var(--oslometSecondary);
        transition: 0.2s;
    }

}
