html {
    scroll-behavior: smooth;
}

.nav-bar ul li{ /* Midlertidig navbar design*/
    display: inline-block;
}

@media (min-width: 701px){
    .grid-container{
        display: grid;
        grid-template-columns: 30vw auto minmax(300px, 30vw) 40px;
        grid-auto-rows: minmax(100px, auto);
    }
    .main-box{
        grid-column: 1/3;
        grid-row: 1;
        color: red;
    }
    .secondary-box{
        grid-column: 1/3;
        grid-row: 2;
    }
    .aside-box{
        grid-column: 3/4;
        grid-row: 1;
    }
}
/* Index.html grid */
